.lottie-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  z-index: var(--z-index-lottie);
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}