@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  font-family: 'Open sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-bg-light-color: #e9ebf4;
  --main-bg-dark-color: #082032;
  --background-blur: 50px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--main-bg-dark-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --grey12: #171717;
  --grey11: #202020;
  --grey10: #333333;
  --grey9: #464646;
  --grey8: #696969;
  --grey7: #858585;
  --grey6: #adadad;
  --grey5: #c9c9c9;
  --grey4: #dedede;
  --grey3: #ececec;
  --grey2: #f2f2f2;
  --grey1: #ffffff;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #ffffff30;
  color: var(--grey2);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--grey12);
}

::-webkit-scrollbar-thumb {
  background: var(--grey10);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--grey9);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--main-bg-light-color);
  }
}
