@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  font-family: "Open sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color: #082032;
  --background-blur: 50px;
  --light-background-color: #7378ff;
  --dark-background-color: #082032;

  --A-keypad-button-color: #ddf505;
  --B-keypad-button-color: #488cfb;
  --C-keypad-button-color: #29dbbc;
  --D-keypad-button-color: #ff9f0e;
  --E-keypad-button-color: #e440bb;
  --F-keypad-button-color: #655adc;
  --G-keypad-button-color: #488cfb;

  --z-index-animImg: 4;
  --z-index-main: 3;
  --z-index-lottie: 2;
  --z-index-splash: 1;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html[data-theme="light"] {
  --background-color: var(--light-background-color);
}

html[data-theme="dark"] {
  --background-color: var(--dark-background-color);
}

* {
  font-family: "Open sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (max-width: 512px) {
  h1 {
    font-size: 2em;
    line-height: 1.1;
  }

  h2 {
    font-size: 1em;
  }

  strong {
    font-size: 0.8em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--light-background-color);
  }
}
